*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
a,li{
    text-decoration: none;
    list-style: none;
    color: white;
}
li{
    margin: 0px 10px 0px 10px;
    flex-shrink: 0;
}

.header{
    display: flex;
    background-color: #1F2937;
    height: 50px;
}
.logo-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;

}
.header-link-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    display: flex;
    padding-inline-start: 0px;
    justify-content: center;
}
.hero-container{
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
}
.left-hero,.right-hero{
    flex: 1;
}
.left-hero{
    background-color: burlywood;
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}
.left-hero-container{
    margin-right: 60px;
}
.hero-strong-text{
    color: #F9FAF8;
    width: 350px;
    font-size: 48px;
    font-weight: bolder;
}
.hero-text{
    font-size: 18px;
    color: #E5E7EB;
    width: 370px;
}
.hero-signup-button{
    width: 120px;
    height: 30px;
    margin-top: 10px;
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
}
.right-hero{
    background-color: #1F2937;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.right-hero-picture{
    width: 400px; 
    height: 250px;
    background-color: grey;
    margin-left: 60px;
}
.information-container{
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.info-top{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 40px;
}
.info-bottom-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 160px;
    height: 200px;
    margin: 30px 30px;
}
.info-pictures{
    border-width: 3px;
    border-style: solid;
    border-color: #3882F6;
    background-color: white;
    border-radius: 10px;
    width: 160px;
    height: 160px;
}
.picture-text{
    text-align: center;
    color: black;
    margin-top: 5px;
}